<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Clancey.SimpleAuth" version="1.0.49" targetFramework="xamarinmac20" />
  <package id="Dropbox.Api" version="4.9.2" targetFramework="xamarinmac20" />
  <package id="DryIoc.dll" version="3.0.2" targetFramework="xamarinmac20" />
  <package id="Microcharts" version="0.7.1" targetFramework="xamarinmac20" />
  <package id="Microcharts.Forms" version="0.7.1" targetFramework="xamarinmac20" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Data.Sqlite" version="2.1.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.1.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.NETCore.Platforms" version="2.1.2" targetFramework="xamarinmac20" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="xamarinmac20" />
  <package id="Plugin.InAppBilling" version="2.0.0" targetFramework="xamarinmac20" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="xamarinmac20" />
  <package id="Prism.DryIoc.Forms" version="7.1.0.431" targetFramework="xamarinmac20" />
  <package id="Prism.Forms" version="7.1.0.431" targetFramework="xamarinmac20" />
  <package id="SkiaSharp" version="1.60.3" targetFramework="xamarinmac20" />
  <package id="SkiaSharp.Views" version="1.60.3" targetFramework="xamarinmac20" />
  <package id="SkiaSharp.Views.Forms" version="1.60.3" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.macos" version="1.1.11" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Licensing" version="16.3.0.36" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Xamarin.Core" version="16.3.0.36" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Xamarin.DataSource" version="16.3.0.36" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Xamarin.GridCommon" version="16.3.0.36" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Xamarin.SfDataGrid" version="16.3.0.36" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Xamarin.SfListView" version="16.3.0.36" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox" version="16.3.0.36" targetFramework="xamarinmac20" />
  <package id="Syncfusion.Xamarin.SfPullToRefresh" version="16.3.0.36" targetFramework="xamarinmac20" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinmac20" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="xamarinmac20" />
  <package id="Xamarin.Essentials" version="0.11.0-preview" targetFramework="xamarinmac20" />
  <package id="Xamarin.FFImageLoading" version="2.4.4.859" targetFramework="xamarinmac20" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.4.859" targetFramework="xamarinmac20" />
  <package id="Xamarin.FFImageLoading.Svg" version="2.4.4.859" targetFramework="xamarinmac20" />
  <package id="Xamarin.FFImageLoading.Svg.Forms" version="2.4.4.859" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="3.4.0.1008975" targetFramework="xamarinmac20" />
</packages>